* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1f2937;
    color: #f9fafb;
    text-align: center;
}

/* HEADER */
header {
    background: #111827;
    padding: 15px;
}

/* HERO */
.hero {
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("https://images.unsplash.com/photo-1498050108023-c5249f4df085");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    background: rgba(0,0,0,0.5);
    padding: 30px;
    border-radius: 15px;
}

.hero-text span {
    color: #60a5fa;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #3b82f6;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/* SERVICES */
.services {
    padding: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.card {
    background: #374151;
    padding: 20px;
    border-radius: 15px;
    width: 150px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 60px;
}

/* ABOUT */
.about {
    padding: 50px;
}

.about img {
    width: 450px;
    border-radius: 15px;
    margin: 20px 0;
}

/* CONTACT */
.contact {
    padding: 50px;
}

input, textarea {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 250px;
    border-radius: 8px;
    border: none;
    background: #374151;
    color: white;
}

/* FOOTER */
footer {
    background: #111827;
    padding: 10px;
}

/* TOAST */
.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #3b82f6;
    padding: 10px 15px;
    border-radius: 5px;
}
